@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.bottom-shadow {
  filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07))
    drop-shadow(0 12px 8px rgba(0, 0, 0, 0.06));
}

@layer base {
  :root {
    --primary: #2ea6b8;
    --primary-light: #58c5d6;
    --neutral-light: #a7a9ac;
    --neutral-medium: #939598;
    --neutral-dark: #808285;
  }

  html {
    font-family: "Inter", system-ui, sans-serif;
  }

  body {
    @apply bg-gray-50;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary-light font-medium py-2 px-4 rounded transition-colors;
  }

  .btn-outline {
    @apply border border-primary text-primary hover:bg-primary hover:text-white font-medium py-2 px-4 rounded transition-colors;
  }

  .card {
    @apply bg-white rounded-lg shadow-md p-6;
  }
}
