services:
  backend:
    image: ghcr.io/viniciusg03/intranet-org/backend:latest
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/tiratec
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASS}
    networks:
      - backend-network

  frontend:
    image: ghcr.io/viniciusg03/intranet-org/frontend:latest
    depends_on:
      - backend
    ports:
      - "80:80"
      - "3000:3000"
    networks:
      - backend-network

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: tiratec
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "5432:5432"
    networks:
      - backend-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 10s
      retries: 5
      start_period: 20s
    volumes:
      - postgres_data:/var/lib/postgresql/data

networks:
  backend-network:
    driver: bridge

volumes:
  postgres_data:
